.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.customCard{
    width: 600px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #EBEBEB;
}

.customButton{
    background-color: #BBBFCA;
}