.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100 % of the viewport*/
}

.customCard{
    width: 700px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    background-color: #DAD0C2;
}

.customButton .MuiButton-label {
    background-color: '#BBBFCA ';
     color: 'black';
}


/*#BBBFCA  Button colour */